* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 40px;
  margin-bottom: 84px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading {
  margin-bottom: 17px;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p__text {
  margin-bottom: 37px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  margin-top: 97px;
  margin-bottom: 96px;
}
