.header {
  height: 75px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo__block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 41px;
}

.img1 {
  width: 44px;
  height: 38px;
}

.img2 {
  width: 26.002px;
  height: 26.792px;
}

.img3 {
  width: 158.996px;
  height: 29px;
}

.a__header4 {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    gap: 424px;
  }
  .p__end__c2 {
    margin-bottom: 71px;
  }
  .a__header4 {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    justify-content: space-between;
    gap: 0px;
  }
  .a__header3 {
    display: none;
  }
  .a__header4 {
    display: block;
    margin-right: 16px;
  }
  .logo__block {
    margin-left: 10px;
  }
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #F8F3F4;
}

.h3__breadcrumbs {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p__breadcrumbs {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.span__p__breadcrumbs {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
}

.h3__content2 {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.p__content2 {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}

.filter-sort {
  position: relative;
  display: flex;
}

.filter {
  display: flex;
  gap: 11px;
  align-items: center;
  position: absolute;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter[open] {
  background: #fff;
  width: 360px;
  height: 531px;
  box-shadow: 6px 4px 35px rbga(0, 0, 0, 0.21);
  box-sizing: border-box;
}
.filter[open] .filter__summary {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__item {
  display: flex;
  position: absolute;
}
.filter__item[open] .item__summary {
  color: #F16D7F;
}
.filter__sorting {
  margin-left: 320px;
  display: flex;
  gap: 27px;
}

.blocks__content2 {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-bottom: 128px;
  margin-top: 65px;
  grid-template-columns: 360px 360px 360px;
}

.block__c2 {
  width: 360px;
  height: 581px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8f8;
}

.p__main__c2 {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  margin-left: 18px;
}

.p__c2 {
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 16px;
  margin-left: 18px;
}

.p__price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-left: 18px;
}

.img__c2:hover::after {
  fill: rgba(58, 56, 56, 0.86);
  content: "Add to Cart";
}

.img2__c2__div {
  background-color: #f7e4e2;
  width: 360px;
  height: 420px;
}

.img2__c2 {
  margin-top: 9px;
  margin-left: 108px;
  background-color: #f7e4e2;
}

@media (max-width: 1024px) {
  .h3__content2 {
    margin-bottom: 3px;
  }
  .p__content2 {
    margin-bottom: 74px;
  }
  .blocks__content2 {
    grid-template-columns: 360px 360px;
    gap: 16px;
  }
  .p__c2 {
    margin-top: 12px;
    margin-left: 16px;
  }
  .p__main__c2 {
    margin-left: 16px;
  }
  .p__price {
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .p__content2 {
    margin-bottom: 64px;
  }
  .blocks__content2 {
    grid-template-columns: 360px;
  }
}
.top__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #222224;
}

.div__top__footer1,
.div__top__footer2,
.div__top__footer3 {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
  margin-bottom: 104px;
}

.h3__top__footer1,
.h3__top__footer2,
.h3__top__footer3 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 16px;
}

.p__top__footer {
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.main__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg__main__footer {
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
}

.div__main__footer1,
.div__main__footer2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 126px;
  margin-top: 97px;
  position: relative;
}

.div__main__footer1 {
  width: 360px;
}

.div__main__footer2 {
  width: 557px;
}

.p__main__footer1 {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.word1__main__footer {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.p__main__footer2 {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 30px;
}

.word2__main__footer {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%; /* 40.128px */
}

form {
  display: flex;
}

.input__main__footer {
  width: 322.59px;
  height: 49px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  position: relative;
}

button {
  position: absolute;
  right: 100px;
  border: none;
  background-color: #e05c6e;
  display: flex;
  width: 100px;
  height: 49px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0px 15px 15px 0px;
  z-index: 100;
  align-items: center;
}

.down__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #222224;
}

.p__down__footer {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div__down__footer2 {
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.div__img__div__down__footer {
  height: 32px;
  width: 32px;
  background: url(/hw2.2/img/Rectangle\ 14.svg);
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  transition: 0.3s;
}

.div__img__div__down__footer:hover {
  background: url(/hw2.2/img/Rectangle\ 15.svg);
}

@media (max-width: 1024px) {
  .main__footer {
    flex-direction: column;
  }
  .div__main__footer1 {
    margin-top: 64px;
    margin-bottom: 48px;
  }
  .div__main__footer2 {
    margin-top: 0px;
    margin-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .div__main__footer2 {
    margin-bottom: 109px;
  }
}
.page {
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}/*# sourceMappingURL=main.css.map */