.breadcrumbs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f3f4;
  &__heading {
    color: $colorSite;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 230px;
    transition: 0.3;
  }
  &__heading:hover {
    color: black;
  }
}

@media (max-width: 425px) {
  .breadcrumbs{
    &__heading{
      margin-left: 0;
      text-align: center;
    }
  }
}