.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 51px;

  &__filter-sort {
    position: relative;
    display: flex;
  }

  &__filter {
    display: flex;
    gap: 11px;
    align-items: center;
    position: absolute;
    left: -350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__summary {
      display: flex;
      align-items: center;
      gap: 11px;
      padding: 13px;
    }

    &[open] {
      background: #fff;
      width: 360px;
      height: 531px;
      fill: #fff;
      filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
      z-index: 21;
      position: absolute;
    }

    &[open] .catalog__filter__summary {
      color: $colorSite;
    }

    &[open] path {
      fill: $colorSite;
    }

    &__item__box {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
      &[open] .catalog__filter__item__summary {
        color: $colorSite;
        list-style-type: none;
      }
    }

    &__item__summary {
      list-style-type: none;
      padding: 11px;
      border-bottom: 1px solid #ebebeb;
      border-left: 5px solid $colorSite;
      margin-left: 17px;
      margin-bottom: 15px;
      margin-right: 17px;
      transition: 0.3s;
    }

    &__item__summary:hover{
      color: $colorSite;
    }
    &__item__sub_ul {
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding-left: 32px;
      margin-top: 10px;
      margin-bottom: 24px;
    }
    &__item__li {
      list-style-type: none;
    }
    &__item__link {
      color: inherit;
      transition: 0.3s;
    }
    &__item__link:hover {
      color: $colorSite;
    }
  }

  &__sorting {
    display: flex;
    gap: 27px;
  }

  &__list__trending {
    &__summary {
      display: flex;
      gap: 8px;
      align-items: center;
    }
    &__sub_ul {
      box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
      margin-top: 5px;
      position: absolute;
      z-index: 10;
      padding-left: 9px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 35px;
      width: 100px;
      height: 80px;
    }
    &__ul {
      list-style-type: none;

      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    &__li {
      display: flex;
      gap: 8px;
    }
  }

  &__list__size {
    &__summary {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &__sub_ul {
      box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
      margin-top: 5px;
      position: absolute;
      z-index: 10;
      padding-left: 9px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 35px;
      width: 79px;
      height: 120px;
    }
    &__ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    &__li {
      display: flex;
      gap: 8px;
    }
  }

  &__list__price {
    &__summary {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &__sub_ul {
      box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
      margin-top: 5px;
      position: absolute;
      z-index: 10;
      padding-left: 9px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 35px;
      width: 150px;
      height: 80px;
    }
    &__ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    &__li {
      display: flex;
      gap: 8px;
    }
  }

  &__blocks {
    display: grid;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-bottom: 48px;
    margin-top: 65px;
    grid-template-columns: 360px 360px 360px;
  }
  &__block {
    width: 360px;
    height: 581px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f8f8f8;
    &__heading {
      color: #000;
      font-size: 13px;
      font-weight: 400;
      margin-top: 25px;
      margin-left: 18px;
    }
    &__description {
      color: #5d5d5d;
      font-size: 14px;
      font-weight: 300;
      margin-top: 16px;
      margin-left: 18px;
    }
    &__price {
      color: $colorSite;
      font-size: 16px;
      font-weight: 400;
      margin-top: 16px;
      margin-left: 18px;
    }

    &__img {
      background-color: #f7e4e2;
      width: 360px;
      height: 420px;
    }

    &__sub_img {
      margin-top: 9px;
      margin-left: 108px;
      background-color: #f7e4e2;
    }
    &__image {
      position: relative;
      transition: 0.5s;
    }
    &__image:hover::before {
      position: absolute;
      content: url(/catalog/img/Forma\ 1\ copy.svg) "Add to Cart";
      color: white;
      background: rgba(58, 56, 56, 0.86);
      width: 360px;
      height: 420px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  &__pages {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 96px;
    font-size: 16px;
    font-weight: 300;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    padding: 12px 40px;
    &__item:hover {
      color: $colorSite;
    }
    &__arrow1:hover path {
      fill: $colorSite;
    }
    &__arrow2:hover path {
      fill: $colorSite;
    }
  }
}

@media (max-width:1024px)
{
  .catalog{
    margin-top: 24px;
    &__blocks {
      gap: 16px;
      margin-bottom: 40px;
      margin-top: 40px;
      grid-template-columns: 360px 360px;
    }
    &__pages {
      margin-bottom: 64px;
    }
    &__filter-sort {
      align-items: center;
    }
    &__filter {
      left: -300px;
    }
  }
}
