.index__top {
  background-color: #f1e4e6;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 63px;
  &__image {
    width: 800px;
    height: 764px;
  }
  &__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 377px;
    height: 93px;
    background: #f1e4e6;
  }
  &__head {
    border-left: 12px solid $colorSite;
    padding-left: 16px;
    font-weight: 700;
    font-size: 32px;
    &__brand {
      width: 377px;
      font-size: 48px;
      font-weight: 900;
    }
    &__fashion {
      color: $colorSite;
    }
  }
}

.index__news {
  margin-top: 65px;
  margin-bottom: 96px;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
  grid-template-columns: 360px 360px 360px;
  &__for_women {
    background: url(/index/img/1.png) no-repeat;
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  &__for_women:hover {
    opacity: 0.7;
  }

  &__for_men {
    width: 360px;
    height: 260px;
    background: url(/index/img/2.jpg) no-repeat;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  &__for_men:hover {
    opacity: 0.7;
  }
  &__for_kids {
    width: 360px;
    height: 260px;
    background: url(/index/img/3.jpg) no-repeat;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  &__for_kids:hover {
    opacity: 0.7;
  }
  &__accesories {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background: url(/index/img/Rectangle\ 20.png) no-repeat;
    width: 1140px;
    height: 180px;
    transition: 0.3s;
    position: relative;
  }

  &__accesories::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 22, 22, 0.7);
  }
  &__accesories:hover {
    opacity: 0.7;
  }

  &__description {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__assecories {
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }

  &__heading {
    color: $colorSite;
    font-size: 24px;
    font-weight: 700;
  }
}

.index__blocks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  &__heading {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
 
  }
  &__description {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__browse {
    color: #f26376;
    font-size: 16px;
    font-weight: 400;
    background: white;
    border: 1px solid $colorSite;
    width: 212px;
    height: 48px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 95px;
    transition: 0.3s;
  }
  &__browse:hover {
    background-color: $colorSite;
    color: white;
  }
}

.index__block__box {
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-top: 65px;
  grid-template-columns: 360px 360px 360px;
}

.index__block {
  width: 360px;
  height: 581px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8f8;
  &__heading {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 18px;
    transition: 0.3s;
  }
  &__heading:hover {
    color: $colorSite;
  }
  &__description {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
    margin-left: 18px;
  }
  &__price {
    color: $colorSite;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 18px;
  }

  &__img {
    background-color: #f7e4e2;
    width: 360px;
    height: 420px;
  }

  &__sub_img {
    margin-top: 9px;
    margin-left: 108px;
    background-color: #f7e4e2;
  }
  &__image {
    position: relative;
    transition: 0.5s;
  }
  &__image:hover::before {
    position: absolute;
    content: url(/catalog/img/Forma\ 1\ copy.svg) "Add to Cart";
    color: white;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .index__top {
    gap: 40px;
    &__image__sub_img {
      display: none;
    }
    &__image {
      width: 384.786px;
      height: 369.048px;
      background: url(/index/img/Layer\ 57.png);
    }

    &__head {
      font-size: 24px;
      &__brand {
        font-size: 44px;
      }
    }
  }
  .index__news {
    margin-top: 20px;
    margin-bottom: 154px;
    gap: 18px;
    grid-template-columns: 232px 232px 232px;

    &__for_women {
      width: 232px;
      height: 167px;
      background-position: center;
    }

    &__for_men {
      width: 232px;
      height: 167px;
      background-position: center;
    }

    &__for_kids {
      width: 232px;
      height: 167px;
      background-position: center;
    }

    &__accesories {
      width: 736px;
      height: 116.043px;
      background-position: center;
    }
  }

  .index__blocks {
    &__browse {
      margin-top: 35px;
      margin-bottom: 64px;
    }
  }

  .index__block__box {
    display: grid;
    gap: 16px;
    margin-top: 73px;
    grid-template-columns: 360px 360px;
  }
}

@media (max-width: 425px) {
  .index__top {
    &__image {
      display: none;
    }
    &__heading {
      height: 363px;
      text-align: center;
    }
    &__head {
      font-size: 20px;
      width: 263px;
      &__brand {
        font-size: 38px;
        width: 236px;
      }
    }
  }

  .index__news {
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 18px;
    display: flex;
    flex-direction: column;
    &__for_women {
      width: 343px;
      height: 247px;
      gap: 32px;
    }

    &__for_men {
      width: 343px;
      height: 247px;
    }

    &__for_kids {
      width: 343px;
      height: 247px;
    }

    &__accesories {
      width: 343px;
      height: 111px;
    }
  }

  .index__blocks {
    &__browse {
      margin-top: 40px;
      margin-bottom: 96px;
    }
    &__heading{
      margin-bottom: 3px;
    }
  }

  .index__block__box {
    display: grid;
    gap: 16px;
    margin-top: 64px;
    grid-template-columns: 360px;
  }
}


