.header {
  height: 75px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.logo__label:hover {
  transition: 0.3;
  opacity: 0.7;
}
.logo__search:hover path {
  fill: #F16D7F;
  transition: 0.3;
}

.nav {
  display: flex;
  gap: 25px;
  align-items: center;
}
.nav__cabinet:hover path {
  fill: #F16D7F;
}
.nav__basket:hover path {
  fill: #F16D7F;
}

.menu {
  width: 232px;
  padding: 32px;
  background: #fff;
  position: absolute;
  z-index: 200;
  top: 75px;
  right: 0;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  transition: right 0.3s;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.menu__li {
  list-style-type: none;
}
.menu__link {
  color: #6f6e6e;
  padding-left: 22px;
}
.menu__link:hover {
  color: #F16D7F;
}
.menu__link__main {
  display: flex;
  gap: 114px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.menu__link__main:hover {
  color: #F16D7F;
}
.menu__link__heading {
  color: #F16D7F;
}
.menu__link__heading:hover {
  color: black;
}
.menu__close:hover path {
  fill: #F16D7F;
}

#burger {
  position: absolute;
  left: -9999999999px;
  visibility: hidden;
}
#burger:checked ~ .menu {
  right: -232px;
}

.burger__label:hover path {
  fill: #F16D7F;
}

@media (max-width: 425px) {
  .nav__cabinet {
    display: none;
  }
  .nav__basket {
    display: none;
  }
}
.breadcrumbs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f3f4;
}
.breadcrumbs__heading {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 230px;
  transition: 0.3;
}
.breadcrumbs__heading:hover {
  color: black;
}

@media (max-width: 425px) {
  .breadcrumbs__heading {
    margin-left: 0;
    text-align: center;
  }
}
.footer__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #222224;
}
.footer__top__section {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
  margin-bottom: 104px;
}
.footer__top__heading {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 16px;
  transition: 0.3s;
}
.footer__top__heading:hover {
  color: #F16D7F;
}
.footer__top__description {
  color: #fbfbfb;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.footer__main {
  align-content: center;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-position: center;
}
.footer__main__quote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 126px;
  margin-top: 97px;
  position: relative;
  z-index: 2;
  width: 360px;
}
.footer__main__quote__part1 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}
.footer__main__quote__part2 {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.footer__main__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 126px;
  margin-top: 97px;
  position: relative;
  z-index: 2;
  width: 557px;
}
.footer__main__form__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}
.footer__main__form__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 30px;
}
.footer__main__form__confirm {
  display: flex;
}
.footer__main__form__input {
  width: 322.59px;
  height: 49px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  position: relative;
}
.footer__main__form__button {
  position: absolute;
  right: 100px;
  border: none;
  background-color: #e05c6e;
  display: flex;
  width: 100px;
  height: 49px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0px 15px 15px 0px;
  z-index: 100;
  align-items: center;
}
.footer__main:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  background: url(/cart/img/Layer\ 41.png) no-repeat;
  background-size: cover;
}
.footer__down {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #222224;
}
.footer__down__rights {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
}
.footer__down__social {
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.footer__down__social__label {
  height: 32px;
  width: 32px;
  background: white;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  transition: 0.3s;
}
.footer__down__social__label:hover {
  background: #F16D7F;
}

@media (max-width: 1024px) {
  .footer__top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #222224;
    padding-bottom: 14px;
    padding-top: 48px;
  }
  .footer__top__section {
    margin-top: 0;
    margin-bottom: 48px;
  }
  .footer__main {
    flex-direction: column;
    gap: 48px;
  }
  .footer__main__quote {
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 0;
  }
  .footer__main__form {
    flex-direction: column;
    margin-bottom: 140px;
    margin-top: 0;
  }
}
@media (max-width: 425px) {
  .footer__top {
    padding-bottom: 31px;
  }
  .footer__main {
    gap: 59px;
  }
  .footer__main__quote__part1 {
    font-size: 18px;
  }
  .footer__main__quote__part2 {
    font-size: 18px;
  }
  .footer__main__form {
    margin-bottom: 110px;
  }
  .footer__main__form__input {
    font-size: 14px;
  }
  .footer__main__form__button {
    font-size: 14px;
  }
  .footer__down {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__down__social {
    margin-top: 43px;
    margin-bottom: 40px;
  }
  .footer__down__rights {
    margin-bottom: 9px;
  }
}
.body {
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

.cart__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 145px;
}

.cart {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__block {
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
  height: 306px;
  gap: 32px;
}
.cart__information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart__heading {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  gap: 57px;
  align-items: center;
  padding-right: 22px;
  transition: 0.3;
}
.cart__head:hover {
  color: #F16D7F;
}
.cart__close:hover path {
  fill: #F16D7F;
}
.cart__description {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 62px;
}
.cart__price {
  color: #F16D7F;
}
.cart__input {
  width: 44px;
  height: 25px;
  text-align: center;
}
.cart__buttons {
  margin-top: 32px;
  display: flex;
  gap: 192px;
}
.cart__button {
  border: 1px solid #a4a4a4;
  margin-bottom: 128px;
  transition: 0.3;
  width: 225px;
  height: 50px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__button:hover {
  color: white;
  background-color: #F16D7F;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart__form {
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin-top: -200px;
}
.cart__form__formalization {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__form__heading {
  font-size: 16px;
  font-weight: 300;
}
.cart__form__input {
  width: 360px;
  height: 45px;
  font-size: 13px;
  font-weight: 300;
  padding: 0 20px;
}
.cart__form__button {
  border: 1px solid rgba(170, 68, 170, 0.2666666667);
  font-size: 11px;
  font-weight: 300;
  width: 100px;
  height: 35px;
  background: white;
  transition: 0.3;
}
.cart__form__button:hover {
  color: white;
  background: #F16D7F;
}
.cart__form__confirmation {
  background: #f5f3f3;
  width: 360px;
  height: 214px;
}
.cart__form__sub {
  font-size: 11px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 11px;
  margin-bottom: 12px;
  margin-top: 39px;
  margin-right: 15px;
}
.cart__form__total {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  justify-content: flex-end;
  gap: 11px;
  margin-bottom: 21px;
  margin-right: 15px;
}
.cart__form__total__price {
  color: #F16D7F;
}
.cart__form__confirm {
  width: 273px;
  height: 50px;
  background: #F16D7F;
  margin-left: 44px;
  color: white;
  border: none;
  transition: 0.3;
}
.cart__form__confirm:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

@media (max-width: 1024px) {
  .cart {
    margin-top: 0;
  }
  .cart__block {
    width: 734px;
  }
  .cart__content {
    flex-direction: column;
    margin-top: 59px;
  }
  .cart__form {
    flex-direction: row;
    margin-bottom: 147px;
  }
}
@media (max-width: 425px) {
  .cart {
    gap: 30px;
    align-items: center;
  }
  .cart__content {
    margin-top: 39px;
  }
  .cart__block {
    width: 358px;
    height: 188px;
    gap: 17px;
  }
  .cart__block__image {
    width: 143.859px;
    height: 188px;
  }
  .cart__heading {
    font-size: 16px;
    gap: 31px;
  }
  .cart__description {
    font-size: 14px;
    padding-bottom: 0;
  }
  .cart__buttons {
    gap: 9px;
    margin-top: 0;
  }
  .cart__button {
    width: 175px;
    font-size: 12px;
    margin-bottom: 108px;
  }
  .cart__form {
    flex-direction: column;
    gap: 48px;
    margin-bottom: 96px;
  }
}
.product {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.product__slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
}
.product__arrow:hover .ar {
  fill: #F16D7F;
}
.product__discription {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  width: 1141px;
  position: absolute;
  background-color: white;
  top: 900px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.product__discription__charter {
  margin-top: 64px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.product__discription__heading {
  margin-top: 12px;
  margin-bottom: 48px;
  font-size: 18px;
}
.product__discription__details {
  margin-bottom: 32px;
  text-align: center;
  width: 555px;
}
.product__discription__price {
  margin-bottom: 65px;
  color: #F16D7F;
  font-size: 24px;
}
.product__discription__lists {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-top: 65px;
  margin-bottom: 48px;
}
.product__discription__button {
  position: relative;
}
.product__discription__button__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  gap: 22px;
  border: 1px solid #F16D7F;
  width: 212px;
  height: 48px;
  background: white;
  transition: 0.3s;
  margin-bottom: 64px;
}
.product__discription__button__content:hover {
  background-color: #F16D7F;
  color: white;
}
.product__discription__button__name {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}
.product__discription__button__content:hover path {
  fill: white;
}
.product__discription__button__content:hover .product__discription__button__name {
  color: white;
}
.product__list__color__summary {
  display: flex;
  gap: 8px;
  align-items: center;
}
.product__list__color__sub_ul {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  position: absolute;
  z-index: 10;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 35px;
  width: 79px;
  height: 103px;
}
.product__list__color__ul {
  list-style-type: none;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product__list__color__li {
  display: flex;
  gap: 8px;
}
.product__list__size {
  position: relative;
}
.product__list__size__summary {
  display: flex;
  gap: 8px;
  align-items: center;
}
.product__list__size__sub_ul {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  position: absolute;
  z-index: 10;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 35px;
  width: 79px;
  height: 103px;
}
.product__list__size__ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product__list__size__li {
  display: flex;
  gap: 8px;
}
.product__list__quantity__summary {
  display: flex;
  gap: 8px;
  align-items: center;
}
.product__list__quantity__input {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  height: 40px;
  width: 40px;
  position: absolute;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 35px;
}
.product__list__quantity__subinput {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  text-align: center;
}
.product__catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 664px;
}
.product__tiles {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-bottom: 128px;
  grid-template-columns: 360px 360px 360px;
}
.product__tile {
  width: 360px;
  height: 581px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8f8;
  font-weight: 400;
  font-size: 14px;
}
.product__tile__heading {
  margin-top: 25px;
  margin-left: 18px;
}
.product__tile__details {
  font-weight: 300;
  margin-top: 16px;
  margin-left: 18px;
  width: 315px;
}
.product__tile__price {
  color: #F16D7F;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 18px;
}
.product__tile__image {
  position: relative;
  transition: 0.5s;
}
.product__tile__image:hover::before {
  position: absolute;
  content: url(/product/img/Forma\ 1\ copy.svg) "Add to Cart";
  color: white;
  background: rgba(58, 56, 56, 0.86);
  width: 360px;
  height: 420px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .product__tiles {
    gap: 16px;
    grid-template-columns: 360px 360px;
  }
}
@media (max-width: 425px) {
  .product__slider {
    height: 624px;
  }
  .product__slider__image {
    width: 374px;
    height: 454px;
  }
  .product__arrow {
    position: absolute;
  }
  .product__arrow__right {
    right: 0;
  }
  .product__discription {
    top: 850px;
  }
  .product__discription__heading {
    margin-bottom: 32px;
  }
  .product__discription__price {
    margin-bottom: 32px;
  }
  .product__discription__price__border {
    width: 175px;
  }
  .product__discription__lists {
    margin-top: 50px;
    margin-bottom: 64px;
    font-size: 10px;
  }
  .product__catalog {
    margin-top: 600px;
  }
  .product__tiles {
    grid-template-columns: 360px;
    margin-bottom: 64px;
  }
}
.registration__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  padding-top: 64px;
  padding-bottom: 96px;
  gap: 145px;
}

.registration__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 300;
}
.registration__form__input {
  width: 360px;
  height: 45px;
  font-size: 13px;
  font-weight: 300;
  padding: 0 20px;
}
.registration__form__sex {
  display: flex;
  gap: 20px;
}
.registration__form__radio {
  display: flex;
  gap: 10px;
}
.registration__form__clue {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
}
.registration__form__confirm {
  width: 273px;
  height: 50px;
  background: #F16D7F;
  margin-left: 44px;
  color: white;
  border: none;
  transition: 0.3;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.registration__form__confirm:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
.registration__form__confirm:hover path {
  fill: black;
  color: black;
  border: 1px solid black;
}
.registration__form__discription {
  font-size: 24px;
  font-weight: 300;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: -200px;
}
.registration__form__li {
  padding-left: 2rem;
  background-image: url(/registation/img/Vector.svg);
  background-size: 20px 16px;
  background-repeat: no-repeat;
  list-style-type: none;
}

.breadcrumbs__product {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__product__heading {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3;
}
.breadcrumbs__product__heading:hover {
  color: black;
}
.breadcrumbs__product__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__product__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  color: black;
  font-size: 14px;
  font-weight: 300;
  transition: 0.3s;
}
.breadcrumbs__product__li:last-child .breadcrumbs__product__link {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 700;
}
.breadcrumbs__product__li:not(:last-child):hover .breadcrumbs__product__link {
  color: #F16D7F;
}
.breadcrumbs__product__li:last-child:hover .breadcrumbs__product__link {
  color: black;
}
.breadcrumbs__product__link {
  color: black;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 425px) {
  .breadcrumbs__product {
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46px;
  }
}
.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.catalog__filter-sort {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.catalog__filter {
  display: flex;
  gap: 11px;
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.catalog__filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 13px;
}
.catalog__filter[open] {
  background: #fff;
  width: 360px;
  height: 531px;
  fill: #fff;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  z-index: 21;
  position: absolute;
}
.catalog__filter[open] .catalog__filter__summary {
  color: #F16D7F;
}
.catalog__filter[open] path {
  fill: #F16D7F;
}
.catalog__filter__item__box {
  display: flex;
  flex-direction: column;
}
.catalog__filter__item {
  display: flex;
}
.catalog__filter__item[open] .catalog__filter__item__summary {
  color: #F16D7F;
  list-style-type: none;
}
.catalog__filter__item__summary {
  list-style-type: none;
  padding: 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #F16D7F;
  margin-left: 17px;
  margin-bottom: 15px;
  margin-right: 17px;
  transition: 0.3s;
}
.catalog__filter__item__summary:hover {
  color: #F16D7F;
}
.catalog__filter__item__sub_ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 32px;
  margin-top: 10px;
  margin-bottom: 24px;
}
.catalog__filter__item__li {
  list-style-type: none;
}
.catalog__filter__item__link {
  color: inherit;
  transition: 0.3s;
}
.catalog__filter__item__link:hover {
  color: #F16D7F;
}
.catalog__sorting {
  display: flex;
  gap: 27px;
  margin-top: 40px;
}
.catalog__list__trending__summary {
  display: flex;
  gap: 8px;
  align-items: center;
}
.catalog__list__trending__sub_ul {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  position: absolute;
  z-index: 10;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 35px;
  width: 100px;
  height: 80px;
}
.catalog__list__trending__ul {
  list-style-type: none;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.catalog__list__trending__li {
  display: flex;
  gap: 8px;
}
.catalog__list__size__summary {
  display: flex;
  gap: 8px;
  align-items: center;
}
.catalog__list__size__sub_ul {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  position: absolute;
  z-index: 10;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 35px;
  width: 79px;
  height: 120px;
}
.catalog__list__size__ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.catalog__list__size__li {
  display: flex;
  gap: 8px;
}
.catalog__list__price__summary {
  display: flex;
  gap: 8px;
  align-items: center;
}
.catalog__list__price__sub_ul {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  position: absolute;
  z-index: 10;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 35px;
  width: 150px;
  height: 80px;
}
.catalog__list__price__ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.catalog__list__price__li {
  display: flex;
  gap: 8px;
}
.catalog__blocks {
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-bottom: 48px;
  margin-top: 65px;
  grid-template-columns: 360px 360px 360px;
}
.catalog__block {
  width: 360px;
  height: 581px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8f8;
}
.catalog__block__heading {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  margin-top: 25px;
  margin-left: 18px;
}
.catalog__block__description {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  margin-top: 16px;
  margin-left: 18px;
}
.catalog__block__price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-left: 18px;
}
.catalog__block__img {
  background-color: #f7e4e2;
  width: 360px;
  height: 420px;
}
.catalog__block__sub_img {
  margin-top: 9px;
  margin-left: 108px;
  background-color: #f7e4e2;
}
.catalog__block__image {
  position: relative;
  transition: 0.5s;
}
.catalog__block__image:hover::before {
  position: absolute;
  content: url(/catalog/img/Forma\ 1\ copy.svg) "Add to Cart";
  color: white;
  background: rgba(58, 56, 56, 0.86);
  width: 360px;
  height: 420px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.catalog__pages {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 96px;
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  padding: 12px 40px;
}
.catalog__pages__item:hover {
  color: #F16D7F;
}
.catalog__pages__arrow1:hover path {
  fill: #F16D7F;
}
.catalog__pages__arrow2:hover path {
  fill: #F16D7F;
}

@media (max-width: 1024px) {
  .catalog {
    margin-top: 24px;
  }
  .catalog__blocks {
    gap: 16px;
    margin-bottom: 40px;
    margin-top: 40px;
    grid-template-columns: 360px 360px;
  }
  .catalog__pages {
    margin-bottom: 64px;
  }
  .catalog__filter-sort {
    align-items: center;
  }
}
@media (max-width: 425px) {
  .catalog__filter__summary__head {
    display: none;
  }
  .catalog__sorting {
    gap: 24px;
    margin-top: 50px;
  }
  .catalog__blocks {
    grid-template-columns: 360px;
  }
  .svg__summary {
    width: 37.5px;
    height: 25px;
  }
}
.index__top {
  background-color: #f1e4e6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 63px;
}
.index__top__image {
  width: 800px;
  height: 764px;
}
.index__top__heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 377px;
  height: 93px;
  background: #f1e4e6;
}
.index__top__head {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  font-weight: 700;
  font-size: 32px;
}
.index__top__head__brand {
  width: 377px;
  font-size: 48px;
  font-weight: 900;
}
.index__top__head__fashion {
  color: #F16D7F;
}

.index__news {
  margin-top: 65px;
  margin-bottom: 96px;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
  grid-template-columns: 360px 360px 360px;
}
.index__news__for_women {
  background: url(/index/img/1.png) no-repeat;
  width: 360px;
  height: 260px;
  display: flex;
  flex-direction: column;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.index__news__for_women:hover {
  opacity: 0.7;
}
.index__news__for_men {
  width: 360px;
  height: 260px;
  background: url(/index/img/2.jpg) no-repeat;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.index__news__for_men:hover {
  opacity: 0.7;
}
.index__news__for_kids {
  width: 360px;
  height: 260px;
  background: url(/index/img/3.jpg) no-repeat;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.index__news__for_kids:hover {
  opacity: 0.7;
}
.index__news__accesories {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background: url(/index/img/Rectangle\ 20.png) no-repeat;
  width: 1140px;
  height: 180px;
  transition: 0.3s;
  position: relative;
}
.index__news__accesories::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 22, 22, 0.7);
}
.index__news__accesories:hover {
  opacity: 0.7;
}
.index__news__description {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index__news__description__assecories {
  display: flex;
  flex-direction: column;
  position: relative;
}
.index__news__heading {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.index__blocks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.index__blocks__heading {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
.index__blocks__description {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.index__blocks__browse {
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  background: white;
  border: 1px solid #F16D7F;
  width: 212px;
  height: 48px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 95px;
  transition: 0.3s;
}
.index__blocks__browse:hover {
  background-color: #F16D7F;
  color: white;
}

.index__block__box {
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-top: 65px;
  grid-template-columns: 360px 360px 360px;
}

.index__block {
  width: 360px;
  height: 581px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8f8;
}
.index__block__heading {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  margin-top: 25px;
  margin-left: 18px;
}
.index__block__description {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  margin-top: 16px;
  margin-left: 18px;
}
.index__block__price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-left: 18px;
}
.index__block__img {
  background-color: #f7e4e2;
  width: 360px;
  height: 420px;
}
.index__block__sub_img {
  margin-top: 9px;
  margin-left: 108px;
  background-color: #f7e4e2;
}
.index__block__image {
  position: relative;
  transition: 0.5s;
}
.index__block__image:hover::before {
  position: absolute;
  content: url(/catalog/img/Forma\ 1\ copy.svg) "Add to Cart";
  color: white;
  background: rgba(58, 56, 56, 0.86);
  width: 360px;
  height: 420px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .index__top {
    gap: 40px;
  }
  .index__top__image__sub_img {
    display: none;
  }
  .index__top__image {
    width: 384.786px;
    height: 369.048px;
    background: url(/index/img/Layer\ 57.png);
  }
  .index__top__head {
    font-size: 24px;
  }
  .index__top__head__brand {
    font-size: 44px;
  }
  .index__news {
    margin-top: 20px;
    margin-bottom: 154px;
    gap: 18px;
    grid-template-columns: 232px 232px 232px;
  }
  .index__news__for_women {
    width: 232px;
    height: 167px;
    background-position: center;
  }
  .index__news__for_men {
    width: 232px;
    height: 167px;
    background-position: center;
  }
  .index__news__for_kids {
    width: 232px;
    height: 167px;
    background-position: center;
  }
  .index__news__accesories {
    width: 736px;
    height: 116.043px;
    background-position: center;
  }
  .index__blocks__browse {
    margin-top: 35px;
    margin-bottom: 64px;
  }
  .index__block__box {
    display: grid;
    gap: 16px;
    margin-top: 73px;
    grid-template-columns: 360px 360px;
  }
}
@media (max-width: 425px) {
  .index__top__image {
    display: none;
  }
  .index__top__heading {
    height: 363px;
    text-align: center;
  }
  .index__top__head {
    font-size: 20px;
    width: 263px;
  }
  .index__top__head__brand {
    font-size: 38px;
    width: 236px;
  }
  .index__news {
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 18px;
    display: flex;
    flex-direction: column;
  }
  .index__news__for_women {
    width: 343px;
    height: 247px;
    gap: 32px;
  }
  .index__news__for_men {
    width: 343px;
    height: 247px;
  }
  .index__news__for_kids {
    width: 343px;
    height: 247px;
  }
  .index__news__accesories {
    width: 343px;
    height: 111px;
  }
  .index__blocks__browse {
    margin-top: 40px;
    margin-bottom: 96px;
  }
  .index__blocks__heading {
    margin-bottom: 3px;
  }
  .index__block__box {
    display: grid;
    gap: 16px;
    margin-top: 64px;
    grid-template-columns: 360px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.body {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */