* {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 1915px;
  height: 491px;
}

.block {
  width: 310px;
  height: 226px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.img__head {
  width: 70px;
  height: 70px;
  margin-left: 30px;
}

.h3__head {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  margin-left: 30px;
}

.p__head {
  width: 310px;
  height: 42px;
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 17px;
  margin-left: 30px;
  margin-left: 30px;
}

.p__headmore {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 30px;
}

.block2 {
  width: 370px;
  height: 291px;
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  width: 1920px;
  height: 919px;
  flex-wrap: nowrap;
}

.center__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.h1__center {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 92px;
}

.p__center {
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 19px;
  width: 682px;
  height: 48px;
}

.centerblock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  background: #fff;
}

.img__center1 {
  width: 385px;
  height: 289px;
}

.img__center2 {
  width: 396px;
  height: 297px;
}

.img__center3 {
  width: 400px;
  height: 300px;
}

.h3__center {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p__centerp {
  width: 310px;
  height: 63px;
  color: #aaa;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 22px;
}

.a__center {

  text-decoration: none;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  width: 150px;
  height: 50px;
  margin-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
